*{
    margin: 0%;
    padding: 0%;
}

.header_container{
    padding-top: 3px;
    width: 90%;
    margin: auto;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.header_navbar_logo_image{
    width: 50%;
    height: 50%;
    padding-left: 50%;
}

.container_bar{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header{ 
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.titre{
    font-family: 'Pacifico', cursive;
    font-size: 43px;
}

.container{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.body_title{
    font-family: 'Pacifico', cursive;
    border-bottom: 3px solid rgb(160, 21, 21);
    margin-top: 2%;
    margin-bottom: 2%;
}

.header_navbar_menu_link{
    margin-left: 20px;
    padding: 7px 10px;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.header_navbar_menu_link:hover{
    text-decoration: none;
    background-color: rgb(228, 13, 13);
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
}



.header_navbar_menu_link_focused{
    margin-left: 20px;
    text-decoration: none;
    background: rgb(160, 21, 21);
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
}

.header_navbar_menu_link_focused:hover{
    text-decoration: none;
    background-color: rgb(228, 13, 13);
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
}


.carte{
    margin-top: 5%;
}

.photo{
    justify-items: center;
    height: 60px;
    width: auto;
}

.footer{
    background-color: rgb(160, 21, 21);
}